*
{
	padding: 0 ;
	margin: 0 ;
}
body{
	padding: 0 ;
	margin: 0 ;
	font-family: corbel;
	width: 100%;
}
.container{
	margin-left: 10%;
	width: 80%;
	height: 1500px ; 
}
.menu{
	
	width: 100%;
	padding-bottom: 10px;
	font-size: 21px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333333;
	 }
  
.menu li {
    float: left;
  }
  
 .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
 .menu li a:hover {
    background-color: #111111;
  }
.menu a.active{
	color: black;
	font-weight : bold;
}
h1
{
	text-align: center;
}
#mainh
{
	font-size: 50px;
	text-align: center;
	color: black;
	border-bottom: 5px solid black;
}
.Recent
{
	padding: 10px;
	color: black;
	font-size: 30px;

}
p
{
	text-align: center;
	font-size: 20px;
}
.Recent img { 
	width: 100%
}

.Recent a 
{
	color :black; 
}
.Recent li
{
	padding: 10px;
	border: 2px solid green ;
	border-radius: 20px;
	margin-bottom: 20px;
}
.Recent li a:hover
{
	color: red;
}
